/* VARIABLES */

:root {
    
/* primary variables */
    --dark-mono: #333;
    --mid-dark-mono: #555;
    --mid-light-mono: #ccc;
    --light-mono: white;
    --hilite-primary: darkseagreen;
    --hilite-secondary: goldenrod;
    --gutter: 20%;
    --header-height: 30vh;
    --footer-height: 200px;
    --border-radius: 3px;

/* secondary variables */
    --main-bg-colour: var(--light-mono);
    --footer-bg-colour: var(--light-mono);
    --main-font-colour: var(--dark-mono);
    --light-font-colour: var(--light-mono);
    --heading-font-colour: var(--mid-dark-mono);
    --icon-colour: var(--dark-mono);
    --card-hover-bg: var(--hilite-primary);
}

/* MISC */

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-colour);
    color: var(--main-font-colour);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-font-colour);
}

/* LAYOUT */

.container {
    display: grid;
    grid-template-columns: var(--gutter) auto auto auto auto auto auto var(--gutter);
    grid-template-rows: 5vh var(--header-height) auto var(--footer-height);
}

main, section {
    padding-bottom: 1rem;
}

main {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 3;
    grid-row-end: -2;
}

/* FOOTER */

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
    padding: 10px var(--gutter);
    background-color: var(--footer-bg-colour);
    border-top: 5px solid var(--hilite-primary);
}

/* HEADER */

.head {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    padding: 2rem var(--gutter);
}

.head h1 {
    display: inline-block;
}

/* NAV */

.nav {
    text-transform: uppercase;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
}

.main-nav li {
    padding: 0 0.5rem;
}

/* CARDS */

.card {
    box-sizing: border-box;
    border: 1px solid var(--mid-light-mono);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    transition: 0.1s ease-in-out;
}

.gen-list .card {
    width: 30%;
}

.gen-list .card:hover {
    background-color: var(--card-hover-bg);
    color: var(--light-font-colour);
}

.gen-list .card:hover h3 {
    color: var(--light-font-colour);
}

.icon {
    color: var(--icon-colour);
    width: 50px;
}

/* UTILITIES */

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.highlight-primary {
    background-color: var(--hilite-primary);
}

.highlight-secondary {
    background-color: var(--hilite-secondary);
}

.text-light {
    color: var(--light-font-colour);
}

.text-dark {
    color: var(--main-font-colour);
}

.button {
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--main-font-colour);
}
